<template>
    <div>
        <div>Page A</div>
        <ul>
            <router-link :to="{name:'a.b'}"> Voir la vue B</router-link>
            <router-link :to="{name:'a.c'}"> Voir la vue C</router-link>
        </ul>
        {{msg}}
        <h1>Vue Enfant</h1>
        <router-view></router-view>
    </div>
</template>

<script>
    export default {
        data(){
            return{
            msg : "Salut"
            }
        },

        // V1
        //meme utilisation que dans main.js mais l'on peut imaginer
        // modifier des données (for what?) , c'est plus evident a cette
        // endroit, exemple avec msg ci dessus

//        beforeRouteEnter(to, from, next){
//            let confirm = window.confirm('are u toto?')
//            if (confirm) {
//                next()
//            } else {
//                next('/')
//            }
//        }

        // V2
        // POur modification des valeurs - Attention -
        // l'instance n'est accessible que dans next, il faut
        // donc lui appliqué un callback qui fera les modifications
        beforeRouteEnter(to, from, next){
            let confirm = window.confirm('are u toto?')
            if (confirm) {
                next(vm => {
                    vm.msg = "My NAME IS TOTO !! "
                })
            }
        },

        // ma vue est instancié j'ai donc acces a this
        // apres je sais pas a quoi ça peut servir...
        beforeRouteLeave(to, from, next){
            this.msg = 'toto...Go AWAY ! '
            window.alert(this.msg)
                next()
        }

    }
</script>