<template>
    <section class="todoapp">
        <header class="header">
            <h1>Todos</h1>
            <input type="text" class="new-todo" placeholder="Ajouter une TAche" v-model="newTodo"
                   @keyup.enter="addTodo">
        </header>
        <div class="main">
            <input type="checkbox" class="toggle-all" v-model="allDone">
            <ul class="todo-list">
                <li class="todo" v-for="todo in filteredTodos"
                    :class="{completed: todo.completed, editing: todo === editing }">
                    <div class="view">
                        <input type="checkbox" v-model="todo.completed" class="toggle">
                        <label @dblclick="editTodo(todo)">{{todo.name}}</label>
                        <button class="destroy" @click.prevent="deleteTodo(todo)"></button>
                    </div>
                    <input type="text" class="edit" v-model="todo.name" @keyup.esc="cancelEdit" @keyup.enter="doneEdit"
                           @blur="doneEdit"
                           v-focus="todo === editing">
                </li>

            </ul>
        </div>
        <footer class="footer" v-show="hasTodos">
            <span class="todo-count"><strong> {{tachesRestantes}}</strong> taches à faire</span>
            <ul class="filters">
                <li><a href="#" :class="{selected: filter === 'all'}" @click.prevent="filter = 'all'">Toutes</a></li>
                <li><a href="#" class="{selected: filter === 'todo'}" @click.prevent="filter = 'todo'">A faire</a></li>
                <li><a href="#" class="{selected: filter === 'done'}" @click.prevent="filter = 'done'">Faites</a></li>
            </ul>
            <button class="clear-completed" v-show="done" @click.prevent="deleteCompleted"> Suppr taches finies</button>
        </footer>
    </section>
</template>

<script>
    export default{
        // Un truc magnifique le hotreload detect les changement dans le template et refresh la page
        // si besoin en gardant mon state en l'etat , du coup ma todolist (data =>todos ) elle n'est
        // pas refresh et garde donc son état , par contre si je modifie mon state le changement
        // est pris en compte .....c'est trop bien !
        data(){
            return {
                todos: [{
                    name: 'tache ou pistache',
                    completed: false
                }],
                newTodo: '',
                filter: 'all',
                editing: null,
                oldTodo: null
            }

        },
        methods: {
            addTodo () {
                this.todos.push({
                    completed: false,
                    name: this.newTodo
                })
                this.newTodo = ''
            },
            deleteTodo(todo){
                this.todos = this.todos.filter(i => i !== todo)
            },
            deleteCompleted(){
                this.todos = this.todos.filter(todo => !todo.completed)
            },
            editTodo (todo){
                this.editing = todo
                this.oldTodo = todo.name
            },
            doneEdit(){
                this.editing = null
            },
            cancelEdit(){
                this.editing.name = this.oldTodo
                this.doneEdit()
            }
        },
        computed: {
            allDone: {
                get(){
                    return this.tachesRestantes === 0
                },
                set(value){
                    this.todos.forEach(todo => {
                        todo.completed = value
                    })
                }
            },
            tachesRestantes(){
                //es5
//                this.todos.filter(function (todo) {
//                    return !todo.completed
//                })
//                es6
                return this.todos.filter(todo => !todo.completed).length
            },
            filteredTodos(){
                if (this.filter === 'todo') {
                    return this.todos.filter(todo => !todo.completed)
                }
                else if (this.filter === 'done') {
                    return this.todos.filter(todo => todo.completed)
                }
                return this.todos
            },
            hasTodos(){
                return this.todos.length > 0
            },
            done(){
                return this.todos.filter(todo => todo.completed).length
            }
        },
        directives: {
            focus (el, value){
                if (value) {
                    // je dois importer vue pour utiliser cette fonction nexTick
                    // Cette fonction demande a VueJs d'attendre le refresh du DOM
                    // sinon a cause de la merveilleuse Asyncronisation de Js
                    // il est possible que le focus ne fonctionne pas car le DOm
                    // sera rafraichi avant
                    Vue.nextTick(_ => {
                        el.focus()
                    })
                }
            }
        }

    }

    import Vue from 'vue' // osef de la position de mon import car webpack remet tout les imports en haut
</script>

<style src="./todos.css"></style>