<template>
  <div>
    <todos></todos>
    <todos></todos>
    <todos></todos>
  </div>
</template>

<script>
    import Todos from '../../VueX/src/components/Todos'

    export default {
        methods: {},
        components: {
            Todos: Todos
        }
    }
</script>

