<template>
    <div>
        <transition name="bounce" appear>
        <div class="ui message success" v-if="visible">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias atque blanditiis delectus deleniti, excepturi provident quasi qui saepe. Enim facere molestiae non provident sit. Beatae eum fugit iusto laborum vitae!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam blanditiis consectetur cupiditate dignissimos doloremque dolorum ducimus in laboriosam neque nesciunt nihil, odit officiis, provident sequi. Nulla perferendis, possimus. Ipsum!
        </div>
        </transition>
        <button @click="toggle">Toggle</button>
    </div>


</template>

<script>
    export default{
        data () {
            return {
                visible: true
            }
        },
        methods: {
            toggle: function () {
                this.visible = !this.visible
            }
        }
    }

</script>

<style>
    .fade-enter-active, .fade-leave-active{
        transition: opacity 1s , transform 1s;
    }

    .fade-enter, .fade-leave-active{
        opacity: 0;
        transform: translateX(20px);
    }
    .bounce-enter-active {
        animation: bounce-in .5s;
    }
    .bounce-leave-active {
        animation: bounce-out .5s;
    }
    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes bounce-out {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(0);
        }
    }


</style>