<template>
    <div class="counter">
        {{count}}
        <div class="counter_button" @click="increment">+</div>
    </div>

</template>
<script>
    export default{
        data () {
            return {
                count:0
            }
        },
        methods:{
            increment () {
                this.count++
            }
        }
    }

</script>

<style>
    .counter{
        font-weight: bold;
        width: 50px;
        height: 50px;
        text-align: center;
        background-color: #dfdfdf;
    }

    .counter_button{
        border: 1px solid black;
        padding: 2px 10px;
    }
</style>