<template>
    <div id="app">
        <div class="ui fixed inverted menu">
            <div class="ui container">

                <router-link :to="{name:'nameHello'}" class=" item" tag="button">Accueil avec tag button
                </router-link>
                <router-link :to="{name:'a'}" exact class="item">toto avec tag par default = link</router-link>
                <!--avec l'option exact du lien ci-dessus , supprime la class 'active' sur le lien ceci celui-ci n'est pas exact-->
                <!--celle-ci sera donc active si l'on match l'url /a et non un des ses enfants ex: /a/b .-->
                <!--Dans ce cas seul lien (enfant) b sera active , si l'on supprime exact , les deux sont active-->
                <router-link :to="{name:'article', params:{id:69}}" class="item">article</router-link>
            </div>
        </div>
        <img src="./assets/logo.png">

        <div class="sidebar">
            <h1>SideBar</h1>
            <router-view name="sidebar"></router-view>
        </div>
        <div class="main">
            <h1>Main</h1>

            <transition name="bounce" mode="in-out">
                <router-view></router-view>
            </transition>
        </div>


    </div>
</template>


<style>
    .bounce-enter-active {
        animation: bounce-in .5s;
    }

    .bounce-leave-active {
        animation: bounce-out .5s;
    }

    @keyframes bounce-in {
        0% {
            transform: scale(0);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(1);
        }
    }

    @keyframes bounce-out {
        0% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.5);
        }
        100% {
            transform: scale(0);
        }
    }

    #app {

        text-align: center;
        color: #2c3e50;

    }

    .router-link-active {
        color: red !important;
    }
</style>
